{% extends 'base.html.twig' %}

{% block title %}Hello GuidedetailsController!{% endblock %}

{% block body %}

<!-- ======================= Start Banner ===================== -->
		<section class="page-title-banner" style="background-image:url(assets/img/banner.jpg);">
			<div class="container">
				<div class="row">
					<div class="tr-list-detail">
						<div class="tr-list-thumb">
							<img src="assets/img/user-5.jpg" class="img-responsive img-circle" alt="" />
						</div>
						<div class="tr-list-info">
							<h4>Daniel Duke Warm</h4>
							<p>Austrailia</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ======================= End Banner ===================== -->
		
		<!-- ======================= Guide Detail ===================== -->
		<section class="tr-single-detail gray-bg">
			<div class="container">
				<div class="row">
				
					<div class="col-md-8 col-sm-8">
								
						<!-- Guide Detail -->
						<div class="row">
							<div class="tr-single-box">
								<div class="tr-single-header">
									<h4><i class="ti-user"></i>Guide</h4>
								</div>
								<div class="tr-single-body">
								
									<div class="guider-box-detail">
										<div class="guider-box-thumb">
											<img src="assets/img/user-5.jpg" class="img-responsive img-circle" alt="" />
										</div>
										<div class="guider-box-detail-content">
											<h4>Daniel Duke Warm<sup class="theme-cl">Guide</sup></h4>
											<p>4 year Experience<span class="guider-status bg-success">Online</span></p>
											<a href="#" class="btn btn-info">View Detail</a>
											<a href="#" class="btn btn-default">Message</a>
										</div>
										<div class="pr-table">
											<ul>
												<li>
													<strong>Tour type:</strong>
													<span class="t-type bg-danger">Extraordinary</span>
													<span class="t-type bg-warning">Food</span>
													<span class="t-type bg-success">Travel</span>
												</li>
												<li><strong>Activity Lavel:</strong>Minimal</li>
												<li><strong>Language:</strong>English, French</li>
												<li><strong>Location:</strong>Canada</li>
												<li><strong></strong></li>
											</ul>
										</div>
									</div>
									
								</div>
							</div>
						</div>
						
						<!-- Ratting -->
								<div class="row">
									<div class="tr-single-box">
										<div class="tr-single-header">
											<h4><i class="fa fa-star-o"></i>Ratting</h4>
										</div>
										<div class="tr-single-body">
											<div class="row">
												<div class="col-sm-4">
													<div id="review_summary">
														<strong>8.5</strong>
														<em class="cl-success">Superb</em>
														<small>Based on 4 reviews</small>
													</div>
												</div>
												<div class="col-sm-8">
													<div class="row">
														<div class="col-lg-10 col-9">
															<div class="progress">
																<div class="progress-bar progress-bar-success" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</div>
														<div class="col-lg-2 col-3"><small><strong>5 stars</strong></small></div>
													</div>
													<!-- /row -->
													<div class="row">
														<div class="col-lg-10 col-9">
															<div class="progress">
																<div class="progress-bar progress-bar-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</div>
														<div class="col-lg-2 col-3"><small><strong>4 stars</strong></small></div>
													</div>
													<!-- /row -->
													<div class="row">
														<div class="col-lg-10 col-9">
															<div class="progress">
																<div class="progress-bar progress-bar-primary" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</div>
														<div class="col-lg-2 col-3"><small><strong>3 stars</strong></small></div>
													</div>
													<!-- /row -->
													<div class="row">
														<div class="col-lg-10 col-9">
															<div class="progress">
																<div class="progress-bar progress-bar-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</div>
														<div class="col-lg-2 col-3"><small><strong>2 stars</strong></small></div>
													</div>
													<!-- /row -->
													<div class="row">
														<div class="col-lg-10 col-9">
															<div class="progress">
																<div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</div>
														<div class="col-lg-2 col-3"><small><strong>1 stars</strong></small></div>
													</div>
													<!-- /row -->	
												</div>			
											</div>
										</div>
									</div>
								</div>
						
						<!-- Description -->
						<div class="row">
							<div class="tr-single-box">
								<div class="tr-single-header">
									<h4><i class="ti-files"></i>Description</h4>
								</div>
								<div class="tr-single-body">
									<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus..</p>
									<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam.</p>
								</div>
							</div>
						</div>
						
						<!-- Extra features -->
						<div class="row">
							<div class="tr-single-box">
								<div class="tr-single-header">
									<h4><i class="ti-thumb-up"></i>Extra Features</h4>
								</div>
								<div class="tr-single-body">
									
									<ul class="simple-features-list">
										<li>Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</li>
										<li>Minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</li>
										<li>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain.</li>
										<li>Pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes.</li>
										<li>Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</li>
										<li>Minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</li>
										<li>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain.</li>
										<li>Pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes.</li>
									</ul>
									
								</div>
							</div>
						</div>
						
						<!-- Review -->
						<div class="row">
							<div class="tr-single-box">
								<div class="tr-single-header" data-toggle="collapse" data-target="#review-pannel" aria-expanded="true">
									<h4><i class="ti-write"></i>All Review<i class="ti-menu fl-right"></i></h4>
								</div>
								<div class="tr-single-body collapse" id="review-pannel" aria-expanded="false">
									
									<!-- Single Review -->
									<div class="review-box">
										<div class="review-thumb">
											<img src="assets/img/user-1.jpg" class="img-responsive img-circle" alt="" />
										</div>
										
										<div class="review-box-content">
											<div class="reviewer-rate">
												<p><i class="fa fa-star cl-warning"></i>4.7/<span>5</span></p>
											</div>
											<div class="review-user-info">
												<h4>Daniel Dicoss</h4>
												<p>Et Harum Quidem Rerum Facilis Est Et Expedita Distinctio. Nam Libero Tempore, Cum Soluta Nobis Est Eligendi Optio Cumque Nihil Impedit Quo Minus Id Quod Maxime Placeat Facere Possimus</p>
											</div>
											<div class="review-lc text-right">
												<a href="#"><i class="ti-heart"></i>87</a>
												<a href="#"><i class="ti-comment"></i>52</a>
											</div>
										</div>
										
									</div>
									
									<!-- Single Review -->
									<div class="review-box">
										<div class="review-thumb">
											<img src="assets/img/user-2.jpg" class="img-responsive img-circle" alt="" />
										</div>
										
										<div class="review-box-content">
											<div class="reviewer-rate">
												<p><i class="fa fa-star cl-warning"></i>4.4/<span>5</span></p>
											</div>
											<div class="review-user-info">
												<h4>Archita Singh</h4>
												<p>Et Harum Quidem Rerum Facilis Est Et Expedita Distinctio. Nam Libero Tempore, Cum Soluta Nobis Est Eligendi Optio Cumque Nihil Impedit Quo Minus Id Quod Maxime Placeat Facere Possimus</p>
											</div>
											<div class="review-lc text-right">
												<a href="#"><i class="ti-heart"></i>65</a>
												<a href="#"><i class="ti-comment"></i>78</a>
											</div>
										</div>
										
									</div>
									
									<!-- Single Review -->
									<div class="review-box">
										<div class="review-thumb">
											<img src="assets/img/user-3.jpg" class="img-responsive img-circle" alt="" />
										</div>
										
										<div class="review-box-content">
											<div class="reviewer-rate">
												<p><i class="fa fa-star cl-warning"></i>5.0/<span>5</span></p>
											</div>
											<div class="review-user-info">
												<h4>Devesh Patri</h4>
												<p>Et Harum Quidem Rerum Facilis Est Et Expedita Distinctio. Nam Libero Tempore, Cum Soluta Nobis Est Eligendi Optio Cumque Nihil Impedit Quo Minus Id Quod Maxime Placeat Facere Possimus</p>
											</div>
											<div class="review-lc text-right">
												<a href="#"><i class="ti-heart"></i>110</a>
												<a href="#"><i class="ti-comment"></i>47</a>
											</div>
										</div>
										
									</div>
									
									<!-- Single Review -->
									<div class="review-box">
										<div class="review-thumb">
											<img src="assets/img/user-4.jpg" class="img-responsive img-circle" alt="" />
										</div>
										
										<div class="review-box-content">
											<div class="reviewer-rate">
												<p><i class="fa fa-star cl-warning"></i>4.9/<span>5</span></p>
											</div>
											<div class="review-user-info">
												<h4>Ruchi Sethi</h4>
												<p>Et Harum Quidem Rerum Facilis Est Et Expedita Distinctio. Nam Libero Tempore, Cum Soluta Nobis Est Eligendi Optio Cumque Nihil Impedit Quo Minus Id Quod Maxime Placeat Facere Possimus</p>
											</div>
											<div class="review-lc text-right">
												<a href="#"><i class="ti-heart"></i>120</a>
												<a href="#"><i class="ti-comment"></i>36</a>
											</div>
										</div>
										
									</div>
									
									<!-- Single Review -->
									<div class="review-box">
										<div class="review-thumb">
											<img src="assets/img/user-5.jpg" class="img-responsive img-circle" alt="" />
										</div>
										
										<div class="review-box-content">
											<div class="reviewer-rate">
												<p><i class="fa fa-star cl-warning"></i>4.8/<span>5</span></p>
											</div>
											<div class="review-user-info">
												<h4>Duke Divalkis</h4>
												<p>Et Harum Quidem Rerum Facilis Est Et Expedita Distinctio. Nam Libero Tempore, Cum Soluta Nobis Est Eligendi Optio Cumque Nihil Impedit Quo Minus Id Quod Maxime Placeat Facere Possimus</p>
											</div>
											<div class="review-lc text-right">
												<a href="#"><i class="ti-heart"></i>80</a>
												<a href="#"><i class="ti-comment"></i>70</a>
											</div>
										</div>
										
									</div>
									
									<!-- Single Review -->
									<div class="review-box">
										<div class="review-thumb">
											<img src="assets/img/user-6.jpg" class="img-responsive img-circle" alt="" />
										</div>
										
										<div class="review-box-content">
											<div class="reviewer-rate">
												<p><i class="fa fa-star cl-warning"></i>4.7/<span>5</span></p>
											</div>
											<div class="review-user-info">
												<h4>Shilka Rai</h4>
												<p>Et Harum Quidem Rerum Facilis Est Et Expedita Distinctio. Nam Libero Tempore, Cum Soluta Nobis Est Eligendi Optio Cumque Nihil Impedit Quo Minus Id Quod Maxime Placeat Facere Possimus</p>
											</div>
											<div class="review-lc text-right">
												<a href="#"><i class="ti-heart"></i>120</a>
												<a href="#"><i class="ti-comment"></i>140</a>
											</div>
										</div>
										
									</div>
									
								</div>
							</div>
						
						</div>
					</div>
				
					<!-- Sidebar Start -->
					<div class="col-md-4 col-sm-4">
						
						<!-- Tourist Overview -->
						<div class="tr-single-box">
							<div class="tr-single-header">
								<h4>Daniel Duke Warm<sup class="cl-success">Tour Guide</sup></h4>
							</div>
							
							<div class="tr-single-body">
								<ul class="extra-service half">
									<li>
										<div class="icon-box-icon-block">
											<a href="#">
												<div class="icon-box-round">
													<i class="ti-user"></i>
												</div>
												<div class="icon-box-text">
													10k Rehire
												</div>
											</a>
										</div>
									</li>
									
									<li>
										<div class="icon-box-icon-block">
											<a href="#">
												<div class="icon-box-round">
													<i class="ti-timer"></i>
												</div>
												<div class="icon-box-text">
													3 Year Exp.
												</div>
											</a>
										</div>
									</li>
									
									<li>
										<div class="icon-box-icon-block">
											<a href="#">
												<div class="icon-box-round">
													<i class="ti-eye"></i>
												</div>
												<div class="icon-box-text">
													785 View
												</div>
											</a>
										</div>
									</li>
									
									<li>
										<div class="icon-box-icon-block">
											<a href="#">
												<div class="icon-box-round">
													<i class="ti-share"></i>
												</div>
												<div class="icon-box-text">
													110 Share
												</div>
											</a>
										</div>
									</li>
									
									<li>
										<div class="icon-box-icon-block">
											<a href="#">
												<div class="icon-box-round">
													<i class="ti-comment-alt"></i>
												</div>
												<div class="icon-box-text">
													22 comments
												</div>
											</a>
										</div>
									</li>
									
									<li>
										<div class="icon-box-icon-block">
											<a href="#">
												<div class="icon-box-round">
													<i class="ti-heart"></i>
												</div>
												<div class="icon-box-text">
													20 Likes
												</div>
											</a>
										</div>
									</li>
									
								</ul>
							</div>
							
						</div>
						
						<!-- overview & booking Form -->
						<div class="tr-single-box">
							<div class="tr-single-header">
								<div class="entry-meta">
									<div class="meta-item meta-comment fl-right">
										<div class="view-box">
											<div class="fl-right">
												<h4 class="font-20"><span class="theme-cl font-20">$</span>216<sub>/Per Day</sub></h4>
											</div>
										</div>
									</div>
									<div class="meta-item meta-author">
										<div class="hotel-review entry-location">
											<span class="review-status bg-success"><i class="ti-check"></i></span>
											<h6><span class="cl-success font-bold">Good</span>1362 Review</h6>
										</div>
									</div>
								</div>
							</div>
							<div class="tr-single-body">
								<form class="book-form">
								
									<div class="row">
										<div class="col-xs-12">
											<div class="form-group">
												<label>Check In</label>
												<input type="text" name="checkin" id="checkin" class="form-control" value="Check in">
											</div>
										</div>
										<div class="col-xs-12">
											<div class="form-group">
												<label>Check Out</label>
												<input type="text" name="checkout" id="checkout" class="form-control" value="Check out">
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-xs-6">
											<div class="form-group">
												<label>Adult</label>
												<input type="number" name="adult" value="1" class="form-control">
											</div>
										</div>
										<div class="col-xs-6">
											<div class="form-group">
												<label>Children</label>
												<input type="number" name="children" value="0" class="form-control">
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-xs-6">
											<div class="form-group">
												<label>Room</label>
												<div class="sl-side">
													<select class="wide form-control">
														<option data-display="Room">1</option>
														<option value="1">2</option>
														<option value="2">3</option>
														<option value="3">4</option>
														<option value="4">5</option>
														<option value="4">5</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-xs-6">
											<div class="form-group">
												<label>Night</label>
												<div class="sl-side">
													<select class="wide form-control">
														<option data-display="Night">1</option>
														<option value="1">2</option>
														<option value="2">3</option>
														<option value="3">4</option>
														<option value="4">5</option>
														<option value="4">5</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-xs-12">
											<button type="button" class="btn btn-default full-width text-left" data-toggle="collapse" data-target="#extra-service">Choose Extra Amenities<i class="ti-settings fl-right mrg-top-5"></i></button>
											<div id="extra-service" class="collapse">
												<div class="extra-features">
													<ul class="extra-service half">
													
														<li>
															<span class="custom-checkbox">
																<input type="checkbox" id="1">
																<label for="1"></label>
															</span>
															Satellite TV
														</li>
														
														<li>
															<span class="custom-checkbox">
																<input type="checkbox" id="2">
																<label for="2"></label>
															</span>
															Coffeemaker
														</li>
														
														<li>
															<span class="custom-checkbox">
																<input type="checkbox" id="3">
																<label for="3"></label>
															</span>
															Luxury Bedding
														</li>
														
														<li>
															<span class="custom-checkbox">
																<input type="checkbox" id="4">
																<label for="4"></label>
															</span>
															Swimming Pool
														</li>
														
														<li>
															<span class="custom-checkbox">
																<input type="checkbox" id="5">
																<label for="5"></label>
															</span>
															Free Parking
														</li>
														
														<li>
															<span class="custom-checkbox">
																<input type="checkbox" id="6">
																<label for="6"></label>
															</span>
															Free Wifi
														</li>
														
														<li>
															<span class="custom-checkbox">
																<input type="checkbox" id="7">
																<label for="7"></label>
															</span>
															Pets Allow
														</li>
														
														<li>
															<span class="custom-checkbox">
																<input type="checkbox" id="8">
																<label for="8"></label>
															</span>
															Elevator
														</li>
														
														<li>
															<span class="custom-checkbox">
																<input type="checkbox" id="9">
																<label for="9"></label>
															</span>
															Spa/Sauna 
														</li>
														
														<li>
															<span class="custom-checkbox">
																<input type="checkbox" id="11">
																<label for="11"></label>
															</span>
															Security cameras 
														</li>
														
													</ul>
												</div>
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-xs-12 mrg-top-15">
											<a href="#" class="btn btn-arrow theme-btn full-width">Book now</a>		
										</div>
									</div>
									
								</form>
							</div>
						</div>
						
						<!-- Share this -->
						<div class="tr-single-box">
							<div class="tr-single-header">
								<h4>Share this</h4>
							</div>
							
							<div class="tr-single-body">
								<ul class="extra-service half">
									<li>
										<div class="icon-box-icon-block">
											<a href="#">
												<div class="icon-box-round">
													<i class="fa fa-facebook"></i>
												</div>
												<div class="icon-box-text">
													Facebook
												</div>
											</a>
										</div>
									</li>
									
									<li>
										<div class="icon-box-icon-block">
											<a href="#">
												<div class="icon-box-round">
													<i class="fa fa-google-plus"></i>
												</div>
												<div class="icon-box-text">
													Google plus
												</div>
											</a>
										</div>
									</li>
									
									<li>
										<div class="icon-box-icon-block">
											<a href="#">
												<div class="icon-box-round">
													<i class="fa fa-twitter"></i>
												</div>
												<div class="icon-box-text">
													Twitter
												</div>
											</a>
										</div>
									</li>
									
									<li>
										<div class="icon-box-icon-block">
											<a href="#">
												<div class="icon-box-round">
													<i class="fa fa-linkedin"></i>
												</div>
												<div class="icon-box-text">
													LinkedIn
												</div>
											</a>
										</div>
									</li>
									
									<li>
										<div class="icon-box-icon-block">
											<a href="#">
												<div class="icon-box-round">
													<i class="fa fa-instagram"></i>
												</div>
												<div class="icon-box-text">
													Instagram
												</div>
											</a>
										</div>
									</li>
									
									<li>
										<div class="icon-box-icon-block">
											<a href="#">
												<div class="icon-box-round">
													<i class="fa fa-pinterest"></i>
												</div>
												<div class="icon-box-text">
													Pinterest
												</div>
											</a>
										</div>
									</li>
									
								</ul>
							</div>
							
						</div>
						
						<!-- Share this -->
						<div class="tr-single-box">
							<div class="tr-single-header">
								<h4>Share this</h4>
							</div>
							
							<div class="tr-single-body">
								<div class="single-side-slide">
									<!-- Single Guide -->
									<div class="guides-container">
									
										<div class="guides-box">
											<div class="guides-img-box">
												<img src="assets/img/user-1.jpg" class="img-responsive" alt="">
											</div>
											<div class="guider-detail">
												<h4>Suryansh Vighul</h4>
												<h5 class="theme-cl font-bold">$42/Hour</h5>
											</div>
										</div>
										<a href="guide-detail.html" class="btn theme-btn full-width">Book Now</a>
									
									</div>
					
									<!-- Single Guide -->
									<div class="guides-container">
									
										<div class="guides-box">
											<div class="guides-img-box">
												<img src="assets/img/user-2.jpg" class="img-responsive" alt="">
											</div>
											<div class="guider-detail">
												<h4>Richita Setthy</h4>
												<h5 class="theme-cl font-bold">$32/Hour</h5>
											</div>
										</div>
										<a href="guide-detail.html" class="btn theme-btn full-width">Book Now</a>
									
									</div>
					
									<!-- Single Guide -->
									<div class="guides-container">
									
										<div class="guides-box">
											<div class="guides-img-box">
												<img src="assets/img/user-3.jpg" class="img-responsive" alt="">
											</div>
											<div class="guider-detail">
												<h4>Adam Survinia</h4>
												<h5 class="theme-cl font-bold">$47/Hour</h5>
											</div>
										</div>
										<a href="guide-detail.html" class="btn theme-btn full-width">Book Now</a>
									
									</div>
									
								</div>
							</div>
						</div>
						
					</div>
					<!-- /col-md-4 -->
				</div>
			</div>
		</section>
		<!-- ======================= Guide Detail ===================== -->	

{% endblock %}
