{% extends 'base.html.twig' %}

{% block title %}Hello RestaurantController!{% endblock %}

{% block body %}

		<!-- ======================= Start Page Title ===================== -->
		<div class="page-title image-title" style="background-image:url(assets/img/restaurant.jpg);">
			<div class="container">
				<div class="page-title-wrap">
				<h2>Restaurant List</h2>
				<p><a href="#" class="theme-cl">Home</a> | <span>Restaurant List</span></p>
				</div>
			</div>
		</div>
		<!-- ======================= End Page Title ===================== -->
		
		<!-- =========== Start All Restaurent In List View =================== -->
		<section class="gray-bg">
			<div class="container">
				
				<!-- Row -->
				<div class="row mrg-0">
					<div class="tr-single-box short-box">
						<div class="col-sm-3 hidden-xs align-self-center">
							<h4>Shorty By</h4>
						</div>
						
						<div class="col-sm-9 text-right">
						
							<div class="btn-group mr-lg-2">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Short By
								</button>
								<div class="dropdown-menu pull-right animated flipInX">
									<a href="#">Accending</a>
									<a href="#">Decending</a>
									<a href="#">By Date</a>
								</div>
							</div>
							
							<div class="btn-group">
								 <a href="restaurant-grid.html" class="btn btn-default tooltips">
									 <i class="ti-flix ti-layout-grid2"></i>
								 </a>
							</div>

							<div class="btn-group">
								 <a href="restaurant-list.html" class="btn btn-default tooltips">
									 <i class="ti-flix ti-view-list-alt"></i>
								 </a>
							</div>
						</div>
					</div>
				</div>
				<!-- /Row -->
				
				<div class="row">
					
					<!-- Single Restaurent List -->
					<div class="col-lg-6 col-md-6">
						<article class="restaurent-box list-style">
							<div class="row">
								
								<div class="col-md-5 col-sm-5">
									<div class="restaurent-box-image">
										<a href="restaurant-detail.html">
											<img src="assets/img/res/res-1.jpg" class="img-responsive restaurent-box-img" alt="" />
										</a>
										<a href="#" class="list-like left"><i class="ti-heart"></i></a>
										<h4 class="restaurent-place">
											<a href="#">Austrailia</a>
										</h4>
										<span class="featured-tour"><i class="fa fa-star"></i></span>
									</div>
								</div>
							
								<div class="col-md-7 col-sm-7">	
									<div class="inner-box">
										<div class="discount-flick">-10%</div>
										<div class="box-inner-ellipsis">
											<div style="margin: 0px; padding: 0px; border: 0px;">
												<h3 class="entry-title">
													<a href="restaurant-detail.html">The Dairy Balcony</a>
												</h3>
												<div class="entry-content">
													<p>Post A Job To Tell Us About Your Project. We'll Quickly Match You With The Right Freelancers.</p>
													<span class="price">From <strong class="theme-cl">$150</strong> /per person</span>
												</div>
											</div>
										</div>
										
										<div class="entry-meta">
											<div class="meta-item meta-author">
												<div class="hotel-review entry-location">
													<span class="review-status bg-success"><i class="ti-check"></i></span>
													<h6><span class="cl-success font-bold">Good</span>1162 Review</h6>
												</div>
											</div>
											<div class="meta-item meta-comment fl-right">
												<div class="view-box">
													<div class="fl-right">
														<span><i class="ti-eye padd-r-5"></i>1780</span>
													</div>
												</div>
											</div>
											<div class="meta-item meta-rating fl-right">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-half"></i>
											</div>
										</div>
									</div>
								</div>
							
							</div>

						</article>
					</div>
					
					<!-- Single Restaurent List -->
					<div class="col-lg-6 col-md-6">
						<article class="restaurent-box list-style">
							<div class="row">
								
								<div class="col-md-5 col-sm-5">
									<div class="restaurent-box-image">
										<a href="restaurant-detail.html">
											<img src="assets/img/res/res-2.jpg" class="img-responsive restaurent-box-img" alt="" />
										</a>
										<a href="#" class="list-like left"><i class="ti-heart"></i></a>
										<h4 class="restaurent-place">
											<a href="#">Switzerland</a>
										</h4>
									</div>
								</div>
							
								<div class="col-md-7 col-sm-7">	
									<div class="inner-box">
										<div class="discount-flick">-15%</div>
										<div class="box-inner-ellipsis">
											<div style="margin: 0px; padding: 0px; border: 0px;">
												<h3 class="entry-title">
													<a href="restaurant-detail.html">Fire and Ice Soss</a>
												</h3>
												<div class="entry-content">
													<p>Post A Job To Tell Us About Your Project. We'll Quickly Match You With The Right Freelancers.</p>
													<span class="price">From <strong class="theme-cl">$230</strong> /per person</span>
												</div>
											</div>
										</div>
										
										<div class="entry-meta">
											<div class="meta-item meta-author">
												<div class="hotel-review entry-location">
													<span class="review-status bg-warning"><i class="ti-check"></i></span>
													<h6><span class="cl-warning font-bold">fair</span>1023 Review</h6>
												</div>
											</div>
											<div class="meta-item meta-comment fl-right">
												<div class="view-box">
													<div class="fl-right">
														<span><i class="ti-eye padd-r-5"></i>2482</span>
													</div>
												</div>
											</div>
											<div class="meta-item meta-rating fl-right">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-half"></i>
											</div>
										</div>
									</div>
								</div>
							
							</div>

						</article>
					</div>
					
					<!-- Single Restaurent List -->
					<div class="col-lg-6 col-md-6">
						<article class="restaurent-box list-style">
							<div class="row">
								
								<div class="col-md-5 col-sm-5">
									<div class="restaurent-box-image">
										<a href="restaurant-detail.html">
											<img src="assets/img/res/res-3.jpg" class="img-responsive restaurent-box-img" alt="" />
										</a>
										<a href="#" class="list-like left"><i class="ti-heart"></i></a>
										<h4 class="restaurent-place">
											<a href="#">Singapore</a>
										</h4>
										<span class="featured-tour"><i class="fa fa-star"></i></span>
									</div>
								</div>
							
								<div class="col-md-7 col-sm-7">	
									<div class="inner-box">
										<div class="discount-flick">-15%</div>
										<div class="box-inner-ellipsis">
											<div style="margin: 0px; padding: 0px; border: 0px;">
												<h3 class="entry-title">
													<a href="restaurant-detail.html">Fluorescence Chilly Soss</a>
												</h3>
												<div class="entry-content">
													<p>Post A Job To Tell Us About Your Project. We'll Quickly Match You With The Right Freelancers.</p>
													<span class="price">From <strong class="theme-cl">$360</strong> /per person</span>
												</div>
											</div>
										</div>
										
										<div class="entry-meta">
											<div class="meta-item meta-author">
												<div class="hotel-review entry-location">
													<span class="review-status bg-danger"><i class="ti-check"></i></span>
													<h6><span class="cl-danger font-bold">poor</span>236 Review</h6>
												</div>
											</div>
											<div class="meta-item meta-comment fl-right">
												<div class="view-box">
													<div class="fl-right">
														<span><i class="ti-eye padd-r-5"></i>1820</span>
													</div>
												</div>
											</div>
											<div class="meta-item meta-rating fl-right">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-half"></i>
											</div>
										</div>
									</div>
								</div>
							
							</div>

						</article>
					</div>
					
					<!-- Single Restaurent List -->
					<div class="col-lg-6 col-md-6">
						<article class="restaurent-box list-style">
							<div class="row">
								
								<div class="col-md-5 col-sm-5">
									<div class="restaurent-box-image">
										<a href="restaurant-detail.html">
											<img src="assets/img/res/res-4.jpg" class="img-responsive restaurent-box-img" alt="" />
										</a>
										<a href="#" class="list-like left"><i class="ti-heart"></i></a>
										<h4 class="restaurent-place">
											<a href="#">Qatar</a>
										</h4>
									</div>
								</div>
							
								<div class="col-md-7 col-sm-7">	
									<div class="inner-box">
										<div class="discount-flick">-12%</div>
										<div class="box-inner-ellipsis">
											<div style="margin: 0px; padding: 0px; border: 0px;">
												<h3 class="entry-title">
													<a href="restaurant-detail.html">The Dwarf Pond</a>
												</h3>
												<div class="entry-content">
													<p>Post A Job To Tell Us About Your Project. We'll Quickly Match You With The Right Freelancers.</p>
													<span class="price">From <strong class="theme-cl">$540</strong> /per person</span>
												</div>
											</div>
										</div>
										
										<div class="entry-meta">
											<div class="meta-item meta-author">
												<div class="hotel-review entry-location">
													<span class="review-status bg-info"><i class="ti-check"></i></span>
													<h6><span class="cl-info font-bold">superb</span>1122 Review</h6>
												</div>
											</div>
											<div class="meta-item meta-comment fl-right">
												<div class="view-box">
													<div class="fl-right">
														<span><i class="ti-eye padd-r-5"></i>1325</span>
													</div>
												</div>
											</div>
											<div class="meta-item meta-rating fl-right">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-half"></i>
											</div>
										</div>
									</div>
								</div>
							
							</div>

						</article>
					</div>
					
					<!-- Single Restaurent List -->
					<div class="col-lg-6 col-md-6">
						<article class="restaurent-box list-style">
							<div class="row">
								
								<div class="col-md-5 col-sm-5">
									<div class="restaurent-box-image">
										<a href="restaurant-detail.html">
											<img src="assets/img/res/res-5.jpg" class="img-responsive restaurent-box-img" alt="" />
										</a>
										<a href="#" class="list-like left"><i class="ti-heart"></i></a>
										<h4 class="restaurent-place">
											<a href="#">Hong Kong</a>
										</h4>
									</div>
								</div>
							
								<div class="col-md-7 col-sm-7">	
									<div class="inner-box">
										<div class="discount-flick">-12%</div>
										<div class="box-inner-ellipsis">
											<div style="margin: 0px; padding: 0px; border: 0px;">
												<h3 class="entry-title">
													<a href="restaurant-detail.html">The Eastern Lily</a>
												</h3>
												<div class="entry-content">
													<p>Post A Job To Tell Us About Your Project. We'll Quickly Match You With The Right Freelancers.</p>
													<span class="price">From <strong class="theme-cl">$370</strong> /per person</span>
												</div>
											</div>
										</div>
										
										<div class="entry-meta">
											<div class="meta-item meta-author">
												<div class="hotel-review entry-location">
													<span class="review-status bg-info"><i class="ti-check"></i></span>
													<h6><span class="cl-info font-bold">superb</span>850 Review</h6>
												</div>
											</div>
											<div class="meta-item meta-comment fl-right">
												<div class="view-box">
													<div class="fl-right">
														<span><i class="ti-eye padd-r-5"></i>2514</span>
													</div>
												</div>
											</div>
											<div class="meta-item meta-rating fl-right">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-half"></i>
											</div>
										</div>
									</div>
								</div>
							
							</div>

						</article>
					</div>
					
					<!-- Single Restaurent List -->
					<div class="col-lg-6 col-md-6">
						<article class="restaurent-box list-style">
							<div class="row">
								
								<div class="col-md-5 col-sm-5">
									<div class="restaurent-box-image">
										<a href="restaurant-detail.html">
											<img src="assets/img/res/res-6.jpg" class="img-responsive restaurent-box-img" alt="" />
										</a>
										<a href="#" class="list-like left"><i class="ti-heart"></i></a>
										<h4 class="restaurent-place">
											<a href="#">United Kingdom</a>
										</h4>
										<span class="featured-tour"><i class="fa fa-star"></i></span>
									</div>
								</div>
							
								<div class="col-md-7 col-sm-7">	
									<div class="inner-box">
										<div class="discount-flick">-22%</div>
										<div class="box-inner-ellipsis">
											<div style="margin: 0px; padding: 0px; border: 0px;">
												<h3 class="entry-title">
													<a href="restaurant-detail.html">The Chili Shack</a>
												</h3>
												<div class="entry-content">
													<p>Post A Job To Tell Us About Your Project. We'll Quickly Match You With The Right Freelancers.</p>
													<span class="price">From <strong class="theme-cl">$524</strong> /per person</span>
												</div>
											</div>
										</div>
										
										<div class="entry-meta">
											<div class="meta-item meta-author">
												<div class="hotel-review entry-location">
													<span class="review-status bg-warning"><i class="ti-check"></i></span>
													<h6><span class="cl-warning font-bold">Good</span>682 Review</h6>
												</div>
											</div>
											<div class="meta-item meta-comment fl-right">
												<div class="view-box">
													<div class="fl-right">
														<span><i class="ti-eye padd-r-5"></i>1780</span>
													</div>
												</div>
											</div>
											<div class="meta-item meta-rating fl-right">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-half"></i>
											</div>
										</div>
									</div>
								</div>
							
							</div>

						</article>
					</div>
					
					<!-- Single Restaurent List -->
					<div class="col-lg-6 col-md-6">
						<article class="restaurent-box list-style">
							<div class="row">
								
								<div class="col-md-5 col-sm-5">
									<div class="restaurent-box-image">
										<a href="restaurant-detail.html">
											<img src="assets/img/res/res-7.jpg" class="img-responsive restaurent-box-img" alt="" />
										</a>
										<a href="#" class="list-like left"><i class="ti-heart"></i></a>
										<h4 class="restaurent-place">
											<a href="#">Qatar</a>
										</h4>
									</div>
								</div>
							
								<div class="col-md-7 col-sm-7">	
									<div class="inner-box">
										<div class="discount-flick">-14%</div>
										<div class="box-inner-ellipsis">
											<div style="margin: 0px; padding: 0px; border: 0px;">
												<h3 class="entry-title">
													<a href="restaurant-detail.html">The Dairy Balcony</a>
												</h3>
												<div class="entry-content">
													<p>Post A Job To Tell Us About Your Project. We'll Quickly Match You With The Right Freelancers.</p>
													<span class="price">From <strong class="theme-cl">$364</strong> /per person</span>
												</div>
											</div>
										</div>
										
										<div class="entry-meta">
											<div class="meta-item meta-author">
												<div class="hotel-review entry-location">
													<span class="review-status bg-info"><i class="ti-check"></i></span>
													<h6><span class="cl-info font-bold">superb</span>1250 Review</h6>
												</div>
											</div>
											<div class="meta-item meta-comment fl-right">
												<div class="view-box">
													<div class="fl-right">
														<span><i class="ti-eye padd-r-5"></i>4200</span>
													</div>
												</div>
											</div>
											<div class="meta-item meta-rating fl-right">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-half"></i>
											</div>
										</div>
									</div>
								</div>
							
							</div>

						</article>
					</div>
					<!-- Single Restaurent List -->
					<div class="col-lg-6 col-md-6">
						<article class="restaurent-box list-style">
							<div class="row">
								
								<div class="col-md-5 col-sm-5">
									<div class="restaurent-box-image">
										<a href="restaurant-detail.html">
											<img src="assets/img/res/res-8.jpg" class="img-responsive restaurent-box-img" alt="" />
										</a>
										<a href="#" class="list-like left"><i class="ti-heart"></i></a>
										<h4 class="restaurent-place">
											<a href="#">United States</a>
										</h4>
										<span class="featured-tour"><i class="fa fa-star"></i></span>
									</div>
								</div>
							
								<div class="col-md-7 col-sm-7">	
									<div class="inner-box">
										<div class="discount-flick">-10%</div>
										<div class="box-inner-ellipsis">
											<div style="margin: 0px; padding: 0px; border: 0px;">
												<h3 class="entry-title">
													<a href="restaurant-detail.html">The Holy Flower</a>
												</h3>
												<div class="entry-content">
													<p>Post A Job To Tell Us About Your Project. We'll Quickly Match You With The Right Freelancers.</p>
													<span class="price">From <strong class="theme-cl">$580</strong> /per person</span>
												</div>
											</div>
										</div>
										
										<div class="entry-meta">
											<div class="meta-item meta-author">
												<div class="hotel-review entry-location">
													<span class="review-status bg-success"><i class="ti-check"></i></span>
													<h6><span class="cl-success font-bold">Good</span>1062 Review</h6>
												</div>
											</div>
											<div class="meta-item meta-comment fl-right">
												<div class="view-box">
													<div class="fl-right">
														<span><i class="ti-eye padd-r-5"></i>2478</span>
													</div>
												</div>
											</div>
											<div class="meta-item meta-rating fl-right">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-half"></i>
											</div>
										</div>
									</div>
								</div>
							
							</div>

						</article>
					</div>
					
				</div>
				
				<div class="row">
					<ul class="pagination">
						<li class="page-item">
						  <a class="page-link" href="#" aria-label="Previous">
							<span class="ti-arrow-left"></span>
							<span class="sr-only">Previous</span>
						  </a>
						</li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item active"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">4</a></li>
						<li class="page-item"><a class="page-link" href="#">5</a></li>
						<li class="page-item">
						  <a class="page-link" href="#" aria-label="Next">
							<span class="ti-arrow-right"></span>
							<span class="sr-only">Next</span>
						  </a>
						</li>
					</ul>
				</div>
				
			</div>
		</section>
		<!-- =========== End All Restaurent In List View =================== -->
			
		
{% endblock %}
