{% extends 'base.html.twig' %}

{% block title %}New Restaurant{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <h1>Create new Restaurant</h1>

    {{ include('restaurant/_form.html.twig') }}
    <br>
    <br>
    <a href="{{ path('app_restaurant_index') }}">back to list</a>
    <br>
    <br>
    <br>
{% endblock %}
